.nav-group {
    .nav-group-label {
        height: 50px;
        padding: 0 20px;

        i {
            font-size: 1.3rem;
            margin-right: 15px;
            color: #89909c;
        }

        span {
            font-weight: bold;
            color: #89909c;
        }
    }
}
